* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  background-image: url(./assets/pokeball-seamless-pattern.jpg);
  background-size: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  background-color: white;
  border: 2px solid black;
  min-height: 600px;
  margin: 40px;
}

.score {
  margin: 20px;
}

.score > h1 {
  margin-bottom: 10px;
}

.cards-board {
  display: flex;
  padding: 20px 40px;
  margin-top: 60px;
  gap: 20px;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px 4px gray;
  min-height: 300px;
}

img {
  max-width: 75%;
}

/* Footer support */
.footer {
  margin-top: auto;
  background-color: white;
}

.footer-content {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 10px;
}